body {
    background-image: url("pattern.jpg");
    margin: 0px;
    font-family: 'Slabo 27px', serif;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

#logo {
    position: absolute;
    left: 0%;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background: rgb(255, 255, 255);
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

.article{
    border-bottom: 1px solid lightgrey;
}

a {
    text-decoration: none;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    bottom: 0px;
    padding: 0px;
    width: 100%;
}

